* {
  font-family: 'Gilroy';
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
   url("./Gilroy/gilroy-black-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
   url("./Gilroy/gilroy-black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
   url("./Gilroy/gilroy-extrabold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
   url("./Gilroy/gilroy-regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
   url("./Gilroy/gilroy-semibold-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
   url("./Gilroy/gilroy-semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}