* {
  font-family: 'Graphik';
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikExtralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikExtralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikRegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikRegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikSemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikSemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("./Graphik/GraphikThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}